.counselor-tab-container {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: black;
}

.counselor-tab-container .counselor-tab-wrap {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
}

.counselor-tab-container .tab-box {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab-box .tab-title-box {
    width: 100%;
    background-color: aqua;
    font-size: 1.125rem;
    font-weight: bold;
}

.tab-box .tab-content-box {
    width: 100%;
    height: 100%;
    background-color: blue;
    margin: 1rem;
    font-size: 0.75;
}