.signin-presenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin: 2rem 0;
}

.signin-notice {
    display: flex;
    justify-content: center;

    width: 100%;

    span {
        margin: 0 auto;
    }
}