.admin-user-list-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.admin-user-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 8;
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.admin-user-list-element img {
    width: 30%;
}

.admin-user-infos {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}