* {
    padding: 0;
    margin: 0;
}

.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 2rem; */

    width: 80%;

    box-shadow: 0px 0px 10px 2px lightgrey;
    padding: 2rem;
    position: relative;
}

.user-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.25rem;
    margin-right: 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}


/* Box */
.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .title {
        font-size: 24pt;
        font-weight: bold;
        color: var(--title-color);
    }

    .foot {
        color: var(--sub-title-color);
    }
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    width: 100%;

    .icon {
        border-radius: 50%;
        border: 1px solid grey;
        overflow: hidden;
        padding: 0.25rem;
    }    
}

.find-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.divide {
    display: inline-block;
    border: 1px dashed grey;
}