* {
    padding: 0;
    margin: 0;
}

.signup-presenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.signup-presenter .signup-notice {
    display: flex;
    justify-content: center;

    width: 100%;

    span {
        margin: 0 auto;
    }
}

.signup-presenter .signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 2rem; */

    width: 80%;

    box-shadow: 0px 0px 10px 2px lightgrey;
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
}

.signup-container .user-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.25rem;
    margin-right: 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}


/* Box */
.signup-container .signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

.signup-container .social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .title {
        font-size: 24pt;
        font-weight: bold;
        color: var(--title-color);
    }

    .foot {
        color: var(--sub-title-color);
    }
}

.signup-container .icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    width: 100%;

    .icon {
        border-radius: 50%;
        border: 1px solid grey;
        overflow: hidden;
        padding: 0.25rem;
    }    
}

.signup-container .find-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.signup-container .divide {
    display: inline-block;
    border: 1px dashed grey;
}

.signup-box button {
    background-color: var(--sub-bg-color);
    border-color: var(--sub-bg-color);
    color: white;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: white;
    border-color: var(--sub-bg-color);
    color: var(--sub-bg-color);
}