:where(.css-dev-only-do-not-override-1rqnfsa).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    padding: 0px;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon {
    display: none;
}


.layout-container .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    background-color: white;
}