.signin-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.signin-box .signin-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.signin-box .signin-input{
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 0.5rem 0;
    gap: 1rem;
}

.signin-box .find-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    margin: 0.5rem 0;

    font-size: 0.7rem;
    font-weight: 500;
    
    .divide {
        display: inline-block;
        border: 1px solid #ebebeb;
    }
}

.signin-box button {
    margin: 0.5rem 0;
}



/* .signin-box .icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    .icon {
        border-radius: 50%;
        border: 1px solid var(--sub-bg-color);
        overflow: hidden;
        padding: 0.25rem;
    }    
} */

/* .signin-box .social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .title {
        font-size: 2.25rem;
        font-weight: bold;
        color: var(--title-color);
    }

    .foot {
        color: var(--sub-title-color);
    }
} */



/* .signin-box
:where(.css-dev-only-do-not-override-1b0bdye).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: var(--main-bg-color);
    background-color: white;
    color: var(--main-bg-color);
} */
