.content-title {
    border-top-style: solid;
    border-bottom-style : solid;
    border-width : 2px;
    border-color : #00cc8f;;
    padding : 10px;
    margin-top: 10px;
    text-align : center;
}