.admin-counselor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 8;
    gap: 1rem;
}

.admin-counselor-infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.admin-counselor-info  img {
    width: 30%;
}

.admin-counselor-buttons {
    display: flex;
    gap: 1rem;
}