.mymenu-menu-list-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    width: 80%;
}

.mymenu-menu-list-item a {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--sub-bg-color);
    background-color: var(--sub-bg-color);
    color: white;

    padding: 2rem 1rem;
    border-radius: 5px;

    text-align: center;
    font-size: 1.1rem;
}

.mymenu-menu-list-item a:hover {
    border: 2px solid var(--sub-bg-color);
    background-color: white;
    color: var(--sub-bg-color);
}