.signup-presenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.signup-notice {
    display: flex;
    justify-content: center;

    width: 100%;

    span {
        margin: 0 auto;
    }
}