.bottom-nav-container {
    position: sticky;

    width: 100%;
    background-color: white;

    border-top: 1px solid #e0e3e8;
    border-right: 1px solid #e0e3e8;
    border-left: 1px solid #e0e3e8;

    
}

.bottom-nav-container .bottom-nav-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.bottom-nav-container svg {
    width: 2rem;
    height: 2rem;
}

.bottom-nav-container .bottom-nav-tap {
    display: flex;

    padding: 0.5rem;
}

.bottom-nav-container .selected {
    stroke: #00cc8f;
}