.product-container {
    margin: 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-container .product-wrap {
    width: 100%;
    height: 100%;
}

.product-container .product-form textarea{
    width: 100%;
    height: 30vh;
}

