.table-container {
    border-collapse: collapse;
    width: 100%;

    table-layout: fixed;
    overflow: auto;
}

.table-container th,
.table-container td {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 0.25rem 0.5rem;
}

.table-container tr:nth-child(2n) {
    background-color: white;
}