.favorite-container {
    margin: 0 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
}

.favorite-container .favorite-wrap {
    width: 100%;
}

.favorite-container button {
    font-weight: bold;
    font-size: 18px;
    background-color: #FF8472;
    color: white;
    width: 180px;
    height: 60px;
}
