.review-card-container {
    display: flex;
    padding: 26px 30px 24px;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-bottom: 0.5rem;
    background-color: white;
}

.review-card-container:first-child {
    border-top: none;
}