:root{
    --main-bg-color :#00CC8F;
    --sub-bg-color:#2AD8A0;

    /* 타이틀 및 본문 */
    --title-color: #232527;
    --body-color: #232527;

    /* 아이콘, 서브타이틀 */
    --icon-color: #768085;
    --sub-title-color: #768085;
 
    --border-color: #768085;
}