:root{
    --main-bg-color :#00CC8F;
    --sub-bg-color:#2AD8A0;

    --title-color: #232527;
    --body-color: #232527;
    
    --icon-color: #768085;
    --sub-title-color: #768085;
 
    --border-color: #768085;

    --warning-color: #DB1D0F;
    --emphasise-color: #B52609;
    --table-th-color: #BFBFBF;
}