.search-inner-common {
    width: 100%;
    padding: 24px 20px 32px;
    border-bottom: 1px solid #bec2c9;
    background: white;
    /* margin-bottom: 6px; */
}

.search-inner-common:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.search-inner-common .search-inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.search-inner-header h1 {
    font-size: 1.125rem;
    font-weight: bold;
}

.search-inner-header .search-inner-refresh-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-inner-refresh-box button {
    border: 1px solid gray;
    border-radius: 5px;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
}

.search-inner-common .search-inner-check-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}